.left-nav-container{
    position: fixed;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    color: #232;
}
.hamburger{
    margin-bottom: auto;
    cursor: pointer;
    color: #20a0d8;
    font-size: 1.2rem;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -250px;
}
.social-icon{
    font-size: 1.5rem;
}
.socials a{
    color: #20a0d8;
    font-size: 1.2rem;
}

@media (max-width:768px){
    
    .socials{
        margin-top: -300px;
    }
}