.core-values h2{
    font-size: 2.5rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
}
.core-values h3{
    font-size: 6rem;
    font-weight: 900;
    margin-top: -30px;
    color: #fff;
    text-align: center;
}
.core-values{
    background-image: url('/public/images/blue-bg.webp');
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.values{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    color:#fff;
    text-align: center;
    font-weight: 500;
}
.values h4{
    font-size: 1.7rem;
}
.collaboration,.compassion,.commitment, .respect{
    background-color: transparent;
    height:250px;
    width:250px;
    border:1px solid #fff;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
}
.collab-icon{
    font-size:3rem ;
}
.collaboration{
    animation: slideDown 1s ease-in;
}
.compassion{
    animation: slideDown 1.3s ease-in;
}
.commitment{
    animation: slideDown 1.6s ease-in;
}
.respect{
    animation: slideDown 1.9s ease-in;
}
@keyframes slideDown {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

@media (max-width:768px){
    .core-values{
        height:1650px;
    }
    .values{
        flex-direction: column;
    }
}